html {
  box-sizing: border-box;
}
/* base styles */
body {
  margin: 0;
  padding: 0;
  color: #471518;
  font-weight: normal;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  background-color: #fcdb00;
}

a {
  color: #471518;
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
  margin: 0;
}

span {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}
/* app container - width 40rem */
.container {
  max-width: 600px;
  margin: 15px auto;
}

/* header component */
.header {
  text-align: center;
}

.header-title {
  font-size: 3.4rem;
  margin: 0;
}

.header-sub-title {
  font-size: 1.2rem;
  margin: 0;
}

/* button */
.button {
  display: inline-block;
  color: #471518;
  height: 42px;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  padding: 7px 16px;
  border-radius: 2px;
  border: 2px solid #471518;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.button--bg {
  color: #fcdb00;
  font-weight: 500;
  border: 0;
  background-color: #471518;
}

/* options list component */
.options-list {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.options-list__header {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.options-list__header__title {
  font-size: 1.4rem;
}

.option-list {
  list-style: none;
  text-align: left;
  margin: 16px 0 0;
  padding: 0;
}

.options-list__item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: 2px solid #471518;
  margin: 0 0 16px;
}

.options-list__item__text {
  font-size: 1rem;
}

/* add option component */
.add-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-form__input {
  width: 450px;
  height: 2rem;
  color: #471518;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  border: 2px solid #471518;
  border-bottom: 6px solid #471518;
  background-color: transparent;
  outline: none;
}

::placeholder {
  color: #471518
}

.add-form__input:focus {
  border-bottom: 6px solid #471518;
}

/* vue css */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}